body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
h1,
p {
  color: white;
  width: 40%;
}

.navbar {
  overflow: hidden;
  background-color: #0057c9;
  position: fixed;
  top: 0;
  font-size: 25px;
  z-index: 3;
  width: 100%;
  align-items: center;
}

.navbar a {
  font-size: 17px;
  background-color: #0057c9;
}

.logo {
  font-size: 20px;
  font-weight: bolder;
}

.logo a {
  font-size: 20px;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 23px 20px;
  text-decoration: none;
  font-size: 17px;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.logo a:hover {
  background: #ddd;
  color: black;
  transform: scale(1.1);
}

.main {
  margin-top: 3.1%;
  height: 1500px;
}

.navbar-right {
  margin-top: 10px;
  float: right;
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.downimg {
  background-image: url("img/background.png");
  min-height: 380px;
  background-color: #292929;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container {
  position: absolute;
  margin: 30px;
  width: auto;
}

.downbut {
  color: black;
  text-align: center;

  text-decoration: none;
  font-size: 17px;
  position: absolute;
  bottom: 10%;
  right: 2%;
}

.downbut a {
  float: right;
  border-radius: 60px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding: 16px 18px;
  margin-right: 20px;
  text-decoration: none;
  font-size: 17px;
}

.downbut a:hover {
  background-color: #0057c9;
  color: rgb(255, 255, 255);
  transform: scale(1.05);
}

.features {
  min-height: 380px;
  background-color: #8a8a8a;
  position: relative;
}

.profile-icon {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-right: 20px;
  transition: transform 0.2s ease-in-out;
}

.profile-icon img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.search img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}
